#area_line {
    position: absolute;
    bottom: 0;
    left: 0;
    border: solid gray;
    border-width: 1px 1px 0 0;
    width: 20%;
    height: 10%;
}

.axis path,
.axis line {
    fill: none;
    stroke: white;
    stroke-width: 1px;
}

.axis text {
    font-family: sans-serif;
    font-size: 9px;
    fill: white;
}

#area_line_tools {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

#area_line_tools .btn-group-vertical {
    margin-left: 10px;
    margin-top: 10px;
}