#sortedStream{
    position: absolute;
    /*top: 68.6%;*/
    /*left: 15%;*/
    border: solid gray;
    border-width: 1px 1px 1px;
    top: 68.6%;
    width: 100%;
    height: 29.5%;
    background-color: gray;

}